.borde{
    position: absolute;
    top: 8px;
    left: 8px;
    width: 400px;
    height: 300px;
    border: solid;
    border-color: #C00;
}

.caja{
    position: absolute;
    width: 400px;
    height: 300px;
    background-color: rgb(148, 200, 255);
    border: solid;
    border-color: #C00;
}



.nube{
    position: relative;
    width: 400px;
    height: 75px;
    top: 1px;
    background-image: url(img/f03.png);
}

.title{
    position: relative;
    text-align: center;
    top: -60px;
}
 

.mario{
    position: absolute;
    top: 187px;
}

.castle{
    position: absolute;
    top: 110px;
    left: 250px;
}

.floor{
    position: absolute;
    top: 286px;
    width: 400px;
    height: 14px;
    background-image: url(img/f01.png);
}


